/* Global */
pre { text-align: left; }
.item.alert { 
	padding: 0.5em 1em 0.5em 1em;
	border-color: #fff;
}
.item.alert .badge {
	top: 0.5em;
	right: 2em;
}
.item-wrap, .item-wrap p {
	white-space: inherit;
}
.locating-message {
	border: none;
	padding-top: 3rem;
	text-align: center;
}
.locating-message i, .locating-message p {
	color: #ccc;
	text-transform: lowercase;
	font-size: 1.875rem;
	line-height: 2rem;
	margin-bottom: 1.5rem;
}
.locating-message i {
	font-size: 3rem;
}
.locating-message button i {
	color: #fff;
}
span.unit {
	text-transform: uppercase;
	font-weight: 300;
}
span.unit.ng-binding {
	font-size: 0.875em;
}
/* Main page */
.wx-wrapper {
	text-align: left;
}
#home .wx-top { 
	text-align: center; 
	background: #387ef5;
	border-color: #387ef5;
	border-top-color: #0c63ee;
	color: #fff;
}
#forecast .wx-wrapper { text-align: left; }


.wx-top {
	background: #eee;
	white-space: inherit;
}
.current-icon, .current-icon p {
	font-size: 4rem;
	font-weight: bold;
}
.summary {
	margin-top: 0.5em;
	font-weight: 500;
	font-size: 1.1875rem;
}
.temperature {
	font-size: 3em;
	font-weight: bold;
	margin-top: -0.5rem;
	margin-bottom: 1rem;
}
.item.now, .item.later {
	white-space: inherit;
	font-weight: 500;
}
.fc-feelslike, .fc-humidity, .fc-wind {
	font-weight: bold;
	font-size: 1.05em;
}
.fc-next24 {
	padding-right: 0;
	padding-left: 0;
}
.fc-next24-hour {
	max-width: 10em;
	padding: 0 1em 0 1em;
	display: inline-table;
	text-align: center;
	border-right: 1px solid #ccc;
	font-weight: 400;
}
.fc-next24-time {
	margin-bottom: 0.5em;
	background: #ebebeb;
	border: 1px solid #ccc;
	padding: 1px;
	font-weight: 500;
	font-size: 0.875em;
}
.fc-next24-lower {
	padding-top: 0.5em;
}
.fc-next24-temp {
	font-size: 1.5em;
	font-weight: 500;
}
.fc-next24-summary {
	font-weight: 300;
}

/* Forecast page */
.forecast .current-icon p {
	font-size: 3rem;
}
.fc-low { 
	color: #4F6E84;
}
.fc-high { 
	color: #222;
}
.fc-text {
	line-height: 1.375rem;
	font-weight: 300;
}
.fc-temp-detail {
	white-space: inherit;
}
/* Settings */
input#custom-location { 
	background-color: #444;
	color: #eee;
	font-weight: 500;
	font-size: 1.01rem;
	border-bottom: 1px dotted #eee;
}
div#confirm-location {
	color: #B1E795;
	font-size: 1.625em;
	position: relative;
	text-align: right;
	margin-left: 0.375em;
}