/* Global */
pre { text-align: left; }
.item.alert { 
	padding: 0.5em 1em 0.5em 1em;
	border-color: #fff;
}
.item.alert .badge {
	top: 0.5em;
	right: 2em;
}
.item-wrap, .item-wrap p {
	white-space: inherit;
}

/* Main page */
.wx-wrapper {
	text-align: left;
}
.wx-top {
	background: #eee;
	white-space: inherit;
}
#home .wx-top { text-align: center; }
#forecast .wx-wrapper { text-align: left; }
.current-icon, .current-icon p {
	font-size: 4rem;
	font-weight: bold;
}
.summary {
	margin-top: 0.5em;
	font-weight: 500;
	font-size: 1.1875rem;
}
.temperature {
	font-size: 3em;
	font-weight: bold;
	margin-top: -0.5rem;
	margin-bottom: 1rem;
}
.item.now, .item.later {
	white-space: inherit;
	font-weight: 500;
/*	padding-top: 8px;
	padding-bottom: 8px;
*/}
.fc-feelslike, .fc-humidity, .fc-wind {
	font-weight: bold;
	font-size: 1.05em;
}
/* Forecast page */
.forecast .current-icon p {
	font-size: 3rem;
}
.fc-low { 
	color: #4F6E84;
}
.fc-high { 
	color: #222;
}
.fc-text {
	line-height: 1.375rem;
	font-weight: 300;
}
.fc-temp-detail {
	white-space: inherit;
}
/* Settings */