<ion-view view-title="About">
	<ion-content>
		<ion-item class="item-divider">About the App</ion-item>
		<ion-item class="item-text-wrap">
			Thunderstorm is a simple, no-frills weather app written Nathaniel Fruchter.
		</ion-item>

		<ion-item class="item-divider">Data Attribution</ion-item>
		<ion-item class="item-text-wrap">
			This app is powered by the Forecast.io API.
		</ion-item>
		
		<ion-item>
			<a href="http://forecast.io" class="button button-block button-calm" target="_blank">Visit Forecast.io</a>
		</ion-item>	
	</ion-content>
</ion-view>

