<ion-view view-title="{{currentLocation.name||'Thunderstorm'}}" id="home">
<ion-content>
	<ion-refresher pulling-text="Pull to update..." on-refresh="load()"></ion-refresher>
	<ion-item href="#/tab/wxalerts" class="item-assertive" ng-if="weather.alerts.length > 0">
		Weather Alert <span class="badge badge-light">{{weather.alerts.length}}</span>
	</ion-item>
	<div class="wx-wrapper" ng-show="weather.current">
		<ion-item class="wx-top">
			<div class="current-icon">
				<i class="fc-{{weather.current.icon}} {{getIcon(weather.current.icon)}} current-icon"></i>
				{{weather.current.temperature | number:1}}<span class="unit">&deg;</span>
			</div>	
			<div class="summary">
				{{weather.current.summary}} 
				<span class="precip" ng-if="weather.current.precipProbability>0.05">
				&bull; {{weather.current.precipProbability*100 | number:0}}% {{weather.current.precipType||"precip"}}
				</span>
			</div>				
		</ion-item>			
		
		<ion-item class="now">
			Now: <span class="fc-text">{{weather.summaries.now}}</span>
		</ion-item>				
		<ion-item class="later">
			Next 24 hours: <span class="fc-text">{{weather.summaries.later}}</span>
		</ion-item>		
		
		<!-- details -->
		<ion-item class="item-divider">Details</ion-item>
		<ion-item class="details item-wrap">
			<p>It currently feels like <span class="fc-feelslike">{{weather.current.apparentTemperature|number:0}}&deg;</span>. 
				The humidity level is <span class="fc-humidity">{{weather.current.humidity*100|number:0}}%</span>. Wind is out of the <span class="fc-wind">{{heading(weather.current.windBearing)}} at {{weather.current.windSpeed|number:0}} mph.</span></p>
		</ion-item>	
		
		<!-- next 24 hrs -->
		<ion-item class="item-divider">Hourly Forecast</ion-item>
		<ion-item class="fc-next24">
			<ion-scroll direction="x" class="wide-as-needed">

				<div ng-repeat="hour in weather.next24" class="fc-next24-hour">
					<div class="fc-next24-time">{{hour.time*1000|date:'ha'}}</div> 
					<div class="fc-next24-lower">
						<div class="fc-next24-temp">
							<i class="fc-{{hour.icon}} {{getIcon(hour.icon)}} hour-icon"></i> {{hour.temperature | number:0}}&deg;
						</div>	
						<div class="fc-next24-summary">
							{{hour.summary}} <span ng-if="hour.precipProbability>=0.1">({{ precipRound(hour.precipProbability*100) | number:0}}%)</span>
						</div>
					</div>	
				</div>

			</ion-scroll>
		</ion-item>
		

	</div>
	
	<!-- error and status messages -->
	
	<div ng-if="!weather.current&&!locating&&weather.error">
		<ion-item class="item-divider item-dark">Network Error</ion-item>
		<ion-item class="item-wrap">
			Unable to load data from server. 
			<span ng-if="weather.error == 0">
				Could not connect to the server.
			</span>	
			
			<button class="button button-block button-positive" ng-click="load()">
				Try Again
			</button>
		</ion-item>
	</div>	
	
	<div ng-show="locating">
		<ion-item id="locating-message" ng-show="locating == true">
			<i class="ion-compass ionicon"></i> <br /><br />
			Finding your location...
		</ion-item>	
		<ion-item ng-show="locating == -1">
			{{locationError}}
			<button class="button button-block button-positive" ng-click="load()">
				Try Again
			</button>
		</ion-item>
	</div> 
	
</ion-content>
</ion-view>
