<ion-view view-title="About">
	<ion-content>
		<ion-item class="card item-text-wrap">
			<ion-item class="item-divider">About the App</ion-item>
			<ion-item>
				Thunderstorm is a simple, no-frills weather app written by <a href="http://www.nathanielfruchter.com" target="_blank">Nathaniel Fruchter</a>.
			</ion-item>
		</ion-item>
		<ion-item class="card item-text-wrap">
			<ion-item class="item-divider">Data Attribution</ion-item>
			<ion-item>
				This app is powered by the <a href="http://forecast.io">Forecast.io API</a>, a wonderful weather data source.
			</ion-item>
		</ion-item>
		
	</ion-content>
</ion-view>

