<ion-view view-title="This Week" id="forecast">
	<ion-content class="wx-wrapper">
	<ion-refresher pulling-text="Pull to update..." on-refresh="load()"></ion-refresher>
	
		<div ng-repeat="fc in weather.week" class="forecast" ng-if="weather.week">		
			<ion-item class="item-divider item-positive" ng-if="$first">
				<div class="day">Today</div>
			</ion-item>
			<ion-item class="item-divider item-positive" ng-if="!$first">
				<div class="day">
					{{fc.time*1000 | date:'EEEE' }}				
				</div>
			</ion-item>	
			<ion-item class="wx-top">
				<div class="current-icon">
					<p>
						<i class="fc-{{fc.icon}} {{getIcon(fc.icon)}} forecast-icon"></i>
						<span class="fc-high">{{fc.temperatureMax | number:0}}</span>/<span class="fc-low">{{fc.temperatureMin | number:0}}</span>
					</p>	
				</div>	
				<div class="summary">
					<span class="fc-text">{{fc.summary}}</span>
					<span class="fc-precip badge badge-calm" ng-if="fc.precipProbability>0.1">{{precipRound(fc.precipProbability*100)}}%</span>					
				</div>
			</ion-item>
			<ion-item class="fc-temp-detail">	
				High at {{fc.temperatureMaxTime*1000 | date:'shortTime'}}, low at {{fc.temperatureMinTime*1000 | date:'shortTime'}}.
			</ion-item>
		</div>	
		
		<ion-item ng-if="!weather.week&&!locating">
			No data.
		</ion-item>
		<div ng-show="locating">
			<ion-item ng-show="locating == true">
				Finding your location...
			</ion-item>	
			<ion-item ng-show="locating == -1">
				{{locationError}}
				<button class="button button-block button-positive" ng-click="load()">
					Try Again
				</button>
			</ion-item>
		</div> 
		
	</ion-content>
</ion-view>

