<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-icon-only"> -->
<ion-tabs class="tabs-calm tabs-icon-only">


  <!-- Home Tab -->
  <ion-tab title="Weather" icon-off="ion-ios7-partlysunny-outline" icon-on="ion-ios7-partlysunny" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Extended Forecast Tab -->
  <ion-tab title="Forecast" icon-off="ion-ios7-calendar-outline" icon-on="ion-ios7-calendar" href="#/tab/forecast">
    <ion-nav-view name="tab-forecast"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
